{% extends "index.html" %}
{% block encabezado %}
{% include "encabezado.html" %}
{% endblock %}
{%block contenido %}
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<h3 class="text-center fw-bold mt-5">SISTEMA MESA DE SERVICIO CENTRO CTPI CAUCA</h3>
<div class="iniciarSesion mt-3 w-50" style="margin: 0 auto">
    <div class="card w-75" style="margin: 0 auto">
        <div class="card-header fw-bold text-center text-white verdeSena">INGRESAR AL SISTEMA</div>
        <div class="card-body">
            <form action="/login/" method="post" class="w-100" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="txtUser" class="fw-bold">Usuario:</label>
                    <input type="text" name="txtUser" id="txtUser" class="form-control"
                        placeholder="Su Correo Electrónico" required>
                </div>
                <div class="mb-3">
                    <label for="txtUser" class="fw-bold">Password:</label>
                    <input type="password" name="txtPassword" id="txtPassword" class="form-control"
                        placeholder="Su Contraseña" required>
                </div>

                <div>
                    <button class="btn btn-success verdeSena">Ingresar</button>
                    <button class="btn btn-secondary">Cancelar</button>
                </div>
                <div class="form-group row mt-3">
                    <div class="col-lg-12 d-flex justify-content-center">
                        <a href="#" class="btn btn-link text-black" data-bs-toggle="modal"
                            data-bs-target="#modalRecuperarClave">
                            ¿Olvidaste tu contraseña?
                        </a>
                    </div>
                </div>
                <div class="justify-content-center mt-2">
                    <div class="g-recaptcha" data-sitekey="6LdK8rYpAAAAANA28A0ocJfh_VbuSjMqVwwf8h8b">

                    </div>
                </div>


                <br>
            </form>
        </div>

    </div>
</div>

<!-- The Modal -->
<div class="modal" id="modalRecuperarClave">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Recuperar Contraseña</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <form action="/recuperarClave/" method="post">
                {% csrf_token %}
                <!-- Modal body -->
                <div class="modal-body">

                    <div class="mt-3">
                        <input type="email" name="txtCorreo" id="txtCorreo" class="form-control"
                            placeholder="Ingrese su Correo Electrónico" required>
                    </div>

                </div>


                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Recuperar</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
            </form>

        </div>
    </div>
</div>
{% if mensaje %}
<script>
    swal.fire("Inicio de Sesion", '{{mensaje}}', 'info')
</script>
{%endif%}
{% endblock %}
{% block piePagina %}
{% include "piePagina.html" %}
{% endblock %}