{% extends "index.html" %}
{% block encabezado %}
    {% include "encabezado.html" %}
{%endblock %}
{% block menu %}
    {% include "administrador/menu.html" %}
{%endblock %}
{% block contenido %}
<br>
<h2 class="text-center fw-bold mt-1">REPORTES ESTADíSTICOS</h2>
<div class="row">
    <div class="col-4">
        <a href="../media/grafica1.png"><img src="../media/grafica1.png" alt="grafica1" class="img-fluid"></a>
    </div>
    <div class="col-4">
        <a href="../media/grafica2.png"><img src="../media/grafica2.png" alt="grafica2" class="img-fluid"></a>
    </div>
    <div class="col-4">
        <a href="../media/grafica3.png"><img src="../media/grafica3.png" alt="grafica3" class="img-fluid"></a>
    </div>
</div>
{%endblock %}
{% block piePagina %}
    {% include "piePagina.html" %}
{%endblock %}
